
@font-face {
    font-family: "BlockKie";
    src: url("../public/fonts/BlockKie.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 

    }
    /* Основной стиль приложения */
    .app-container {
        position: flex;
        min-height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      
      .content {
        flex: 1;
        padding: 0vh;
        background: url('Untitled.jpg') no-repeat center center fixed;
        background-size: cover;
      }
      
      .nav-bar {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #e7a61a;
        overflow: hidden;
      }
      
      .nav-button {
        flex: 1;
        margin: 0 0.2vw;
        padding: 5vw;
        font-size: 3vw;
        font-weight: bold;
        color: black;
        background: transparent;
        border: 0.2vw solid black;
        border-radius: 0vw;
        cursor: pointer;
        transition: all 0.3s ease;
        font-family: "BlockKie";
        
      }
      
      .nav-button:hover {
        background-color: #e7a61a;
      }
      
      .nav-button:active {
        background-color: #ffab04;
      }

      
      



    /* Основной стиль приложения */
/* .app {

    display: flex;
    flex-direction: row;
    height: 1vw;
    font-family: "BlockKie";
  }
  
  /* Контентная часть */
  /* .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24vw;
    text-align: left;
    font-family: "BlockKie";
    padding-right: 50vw;
  }
  
  /* Нижняя панель навигации */
  /* .bottom-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #282c34;
    padding: 2vw 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2vw 10vw rgba(0, 0, 0, 0.2);
    font-family: "BlockKie";
    padding-right: 50vw;
  } */
  
  /* Кнопки навигации */
  /* .nav-button {
    flex: 1;
    margin: 0 0.2vw;
    padding: 3vw;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    background: transparent;
    border: 0.2vw solid white;
    border-radius: 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "BlockKie";
  } */
  
  /* .nav-button:hover {
    background: white;
    color: #282c34;
    font-family: "BlockKie";
  } */ 
  
  
/*.menu {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background:#e7a61a;
    padding: 10px 0;
    font-family: 'BlockKie';
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'BlockKie'
    
}

.menu-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-family: 'BlockKie'
}

.menu-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: 'BlockKie';
    border: 5px black;


}

.menu-item .menu-link {
    display: inline-block;
    flex-direction: row-reverse;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    transition: color 0.5s;
    word-spacing: 11rem;
    padding: 10rem 10rem 10rem -3rem;
    margin: 6px;
    height: fit-content;
    width: fit-content;
    font-family: 'BlockKie';
    outline-style: 2px;
    border:2px, black;
    border-style: solid;
    box-sizing:20px ;
}

.menu-item .menu-link:hover {
    color: #23ab19;
}*/