@font-face {
    font-family: "BlockKie";
    src: url("../public/fonts/BlockKie.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
    }
    .appi {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        height: 110%;
        width: 100%;
        background: url('../../public/characters/back_1.png') no-repeat center center fixed;
        background-size: cover;
        color: #fff;
        font-family: 'BlockKie';
    
    }
.back {
    display: flex;
    margin-top: 90vw;
    font-size: 0px;

}    
.content {

}
.center1 {
    margin-top: 30vw;
    margin-left: 36vw;
    font-size: 10vw;
}

.ref {
    display: flex;
    justify-self: flex-start;
    justify-content: center;
    justify-items: center;
    background-color: rgba(231, 166, 26, 0.7);
    width: 72vw;
    height: 5vh;
    font-size: 5vw;
    margin: 9vw 0 0 0vw;
    right: 8vw;
    border: 1vw solid black;
    border-radius: 1vw;
    overflow: scroll;
    max-height: calc(100vh - 100px);

}