@font-face {
    font-family: "BlockKie";
    src: url("../public/fonts/BlockKie.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
    }
.upgrade {
    display: flexbox;
    flex-direction: row;
    text-align: center;
    padding-top: 600px;
    font-family: 'BlockKie';

}

.skills-list li {
    padding-bottom: auto;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'BlockKie'
}

.skills-list {
    list-style: none;
    padding-top:10px;
    padding-right: 25px;
    font-family: 'BlockKie';
}


button {
    padding: 5px 10px;
    background-color: #e7a61a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'BlockKie'
}

button:hover {
    background-color: #ffab04;
    font-family: 'BlockKie'
}
